:root {
    --md-primary-fg-color: #013c51;
    --md-accent-fg-color: #f9b62b;
}

.md-nav__title .md-nav__button.md-logo img,
.md-header__button.md-logo img {
    width: auto;
    height: auto;
    fill: none;
}

.ic-env--dialog .md-sidebar--primary, 
.ic-env--dialog .md-header, 
.ic-env--dialog .md-footer {
    display: none;
}

.ic-env--dialog .md-main__inner {
    margin-top: 0;
}